

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
     overflow: -moz-scrollbars-vertical;
     overflow: scroll;
}


@media (min-width:1200px){
.container {
  max-width:1800px;
}
}


.navbar-inverse{
  background-color:#003f22;
  background-image:none;
}

.navbar-brand img{
  height:20px;
  padding-right:20px;
}


#panel1, #panel2{
}

.dropzone{
  border:2px dashed #ccc;
  margin:10px auto;
  text-align:center;
  color:#ccc;
}

.field-select{
  opacity:0;
  margin:12px auto;
}

#deltarow{
  opacity:0;
}


#filename1, #filename2 {
margin-top:20px;
}



