<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="Python_via_FastCGI" />
            <add name="Python fastcgi" path="*.py" verb="*" modules="FastCgiModule" scriptProcessor="C:\users\alex.holyoake\Anaconda\python.exe|C:\inetpub\wwwroot\floorviewer\server\wfastcgi.py" resourceType="Either" requireAccess="Script" />
        </handlers>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="python rewrite">
                  <add key="/floorviewer/generate" value="/floorviewer/server/contour_listener.py" />
                </rewriteMap>
            </rewriteMaps>
            <rules>
                <rule name="Rewrite rule1 for python rewrite" patternSyntax="ECMAScript" stopProcessing="true">
                  <match url="generate" />
                    <conditions>
                        <add input="{python rewrite:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Rewrite" url="server/contour_listener.py" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
